<a href="https://colab.research.google.com/github/AKNYAM/Module_13/blob/main/Colab_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [2]:
# Import applicants_data.csv to Google Colab
from google.colab import files
uploaded = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [4]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
 # Review the data types associated with the columns

applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [7]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame

applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)

In [8]:
# Review the DataFrame

applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [30]:
# Create a list of categorical variables 
categorical_variables = ['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']
# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [31]:
# List 'object' data types
list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [32]:
# Review the data types associated with the columns
applicant_data_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [33]:
# Create data frame with the 'int' data types to concat later
numerical_value_columns = applicant_data_df[['STATUS','ASK_AMT', 'IS_SUCCESSFUL']].reset_index(drop=True)
numerical_value_columns.reset_index()
numerical_value_columns.head()

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [37]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [38]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [39]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data
    , columns=enc.get_feature_names_out(categorical_variables)
)
encoded_df.reset_index()
# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [40]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
attrition_df = pd.concat([numerical_value_columns, encoded_df], axis=1)
# Review the DataFrame
attrition_df.head(25)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,1,31452,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,1,7508025,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,1,94389,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
10,1,69656,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
11,1,165593,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13,1,5301,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
14,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
15,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
16,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17,1,86380556,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
18,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
19,1,376109,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
20,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
21,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
22,1,318296,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
23,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
24,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [41]:
# Define the target set y using the IS_SUCCESSFUL column
y = attrition_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [42]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = attrition_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [43]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [44]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [45]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [46]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [52]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =   (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [53]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [54]:
# Create the Sequential model instance
nn = Sequential()

In [55]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [56]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [57]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation='sigmoid'))

In [58]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 58)                6786

 dense_2 (Dense)             (None, 29)                1711

 dense_3 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [59]:

# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [60]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 10s 6ms/step - loss: 0.5718 - accuracy: 0.7217
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5520 - accuracy: 0.7316
Epoch 3/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5501 - accuracy: 0.7299
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5474 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7329
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7328
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7327
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7347
Epoch 9/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7339
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7351
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7359
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7362
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7356
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5394 - accuracy: 0.7362
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7353
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5391 - accuracy: 0.7367
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7362
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7372
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7381
Epoch 21/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5376 - accuracy: 0.7368
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7375
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7381
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7373
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7384
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7389
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7397
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7381
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7401
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7397
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7404
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7392
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7389
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7396
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7396
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7401
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5336 - accuracy: 0.7390
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7399
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7402
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7400
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7395
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7413
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5332 - accuracy: 0.7404
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7406
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7402
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5329 - accuracy: 0.7408
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7409
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5323 - accuracy: 0.7412
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7402

In [61]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.5577 - accuracy: 0.7283 - 2s/epoch - 7ms/step
Loss: 0.5577453374862671, Accuracy: 0.7282798886299133

In [62]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

# Download your model to your computer
files.download(file_path)

In [63]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [64]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [65]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 58 * 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

116

In [66]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 58 * 3

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

174

In [67]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = 58 * 4

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

232

In [68]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [69]:
# First hidden layer
nn_A1.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A1, activation="sigmoid"))
# second hidden layer
nn_A1.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer2_A1, activation="sigmoid"))
# third hidden layer
nn_A1.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer3_A1, activation="sigmoid"))
# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="sigmoid"))
# Check the structure of the model
nn_A1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 116)               13572

 dense_5 (Dense)             (None, 174)               20358

 dense_6 (Dense)             (None, 232)               40600

 dense_7 (Dense)             (None, 1)                 233

=================================================================
Total params: 74,763
Trainable params: 74,763
Non-trainable params: 0
_________________________________________________________________

In [70]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [71]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5942 - accuracy: 0.7008
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5724 - accuracy: 0.7253
Epoch 3/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5639 - accuracy: 0.7248
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5592 - accuracy: 0.7278
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5572 - accuracy: 0.7274
Epoch 6/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5551 - accuracy: 0.7289
Epoch 7/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5528 - accuracy: 0.7281
Epoch 8/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5514 - accuracy: 0.7300
Epoch 9/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5503 - accuracy: 0.7296
Epoch 10/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5491 - accuracy: 0.7302
Epoch 11/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5492 - accuracy: 0.7315
Epoch 12/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5476 - accuracy: 0.7312
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5476 - accuracy: 0.7324
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5473 - accuracy: 0.7329
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5458 - accuracy: 0.7325
Epoch 16/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5455 - accuracy: 0.7333
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5450 - accuracy: 0.7324
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5441 - accuracy: 0.7335
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5429 - accuracy: 0.7345
Epoch 20/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5434 - accuracy: 0.7351
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5428 - accuracy: 0.7334
Epoch 22/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5413 - accuracy: 0.7348
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5413 - accuracy: 0.7352
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5406 - accuracy: 0.7362
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5405 - accuracy: 0.7359
Epoch 27/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5404 - accuracy: 0.7349
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7369
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5393 - accuracy: 0.7363
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5391 - accuracy: 0.7365
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7379
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5383 - accuracy: 0.7355
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5375 - accuracy: 0.7372
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5379 - accuracy: 0.7379
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7371
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7385
Epoch 37/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5366 - accuracy: 0.7379
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5363 - accuracy: 0.7391
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7377
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7368
Epoch 41/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5354 - accuracy: 0.7372
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7376
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7387
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5347 - accuracy: 0.7388
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7398
Epoch 46/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5341 - accuracy: 0.7385
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5340 - accuracy: 0.7385
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5335 - accuracy: 0.7388
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5333 - accuracy: 0.7385
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5328 - accuracy: 0.7395

In [72]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.5523 - accuracy: 0.7258 - 2s/epoch - 6ms/step
Loss: 0.5523464679718018, Accuracy: 0.7258309125900269

In [73]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [74]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [75]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 22

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

22

In [76]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 256

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

256

In [77]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [78]:
# First hidden layer
nn_A2.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A2, activation="sigmoid"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 22)                2574

 dense_9 (Dense)             (None, 1)                 23

=================================================================
Total params: 2,597
Trainable params: 2,597
Non-trainable params: 0
_________________________________________________________________

In [79]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [80]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5957 - accuracy: 0.7035
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5720 - accuracy: 0.7234
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5685 - accuracy: 0.7250
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5657 - accuracy: 0.7264
Epoch 5/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5629 - accuracy: 0.7279
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5601 - accuracy: 0.7288
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7301
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7301
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7306
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7308
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7316
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5498 - accuracy: 0.7318
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7328
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7332
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7341
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7341
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7339
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7337
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5440 - accuracy: 0.7346
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7348
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7349
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7357
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7354
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7362
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7357
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7370
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7359
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7362
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7367
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7356
Epoch 33/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5390 - accuracy: 0.7368
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7371
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7375
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7370
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7368
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7371
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7369
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5376 - accuracy: 0.7370
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7389
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7369
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7388
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7385
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7382
Epoch 47/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7389
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7380
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7387

In [81]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5502 - accuracy: 0.7312 - 603ms/epoch - 2ms/step
Loss: 0.5502102971076965, Accuracy: 0.731195330619812

In [82]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5577 - accuracy: 0.7283 - 472ms/epoch - 2ms/step
Loss: 0.5577453374862671, Accuracy: 0.7282798886299133

In [83]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.5523 - accuracy: 0.7258 - 890ms/epoch - 3ms/step
Loss: 0.5523464679718018, Accuracy: 0.7258309125900269

In [84]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5502 - accuracy: 0.7312 - 476ms/epoch - 2ms/step
Loss: 0.5502102971076965, Accuracy: 0.731195330619812

In [85]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Download the model to your computer
files.download(file_path)

In [86]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)

# Download the model to your computer
files.download(file_path)